.hackathon-tag {
  font-size: 12px;
  position: fixed;
}

.container-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  height: 20vh;
}

.width-60 {
  width: 60%;
}
